BasedOnStyle: Google
ColumnLimit: 80

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

IndentWidth: 2
ContinuationIndentWidth: 2

AlignAfterOpenBracket: Align
AlignOperands: true
AlignEscapedNewlines: Left

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

PointerAlignment: Left